{% extends 'app/base.html' %}
{% load my_tags %}
{% block title %}
Change Password
{% endblock title %}


{% block body %}
<div>
    <div class="mt-4 h3 mb-4 text-center">Enter new password</div>
    <br>
    <div class="mt-4 w-75 mx-auto">
        <form action="" method="post">
                {% csrf_token %}
                <div class="danger">{{form.on_field_errors}}</div>
                 <div class="mt-2 mb-3">
                    <label for="id_new_password1" class="mb-2">New Password</label>
                    {{form.new_password1|addplaceholder:"Enter your new password"|addclass:"form-control"}}
                </div>
                <div class="mb-2 text-danger">
                    {{form.new_password1.errors}}
                </div> 
                <div class="mt-2 mb-3">
                    <label for="id_new_password2" class="mb-2">Confirm New Password</label>
                    {{form.new_password2|addplaceholder:"Confirm your new password"|addclass:"form-control"}}
                </div>
                <div class="mb-2 text-danger">
                    {{form.new_password2.errors}}
                </div>  

            <div class="d-grid mt-4">
                <button class="btn btn-primary d-block" type='submit'>Submit Password</button>
            </div>
        </form>
    </div>
</div>
    
{% endblock body %}