{% extends 'app/base.html' %}
{% load my_tags %}
{% block title %}
Chage Password
{% endblock title %}


{% block body %}
<div>
    <div class="mt-4 h3 mb-4 text-center">Forgot Password</div>
    <br>
    <div class="mt-4 w-75 mx-auto">
        <form action="" method="post">
                {% csrf_token %}
                <div class="danger">{{form.on_field_errors}}</div>
                <div class="mt-2 mb-3">
                    <label for="id_email" class="mb-2">Email</label>
                    {{form.email|addplaceholder:"Enter your email"|addclass:"form-control "}}
                </div>
                <div class="mb-2 text-danger">
                    {{form.email.errors}}
                </div>

            <div class="d-grid mt-4">
                <button class="btn btn-primary d-block" type='submit'>Send Link</button>
            </div>
        </form>
    </div>
</div>
    
{% endblock body %}