{% extends 'app/base.html' %}
{% load my_tags %}
{% block title %}
Sign Up
{% endblock title %}


{% block body %}
<div>
    <div class="mt-4 h3 mb-4 text-center">Let's do sign up and be the part of family.</div>
    <br>
    <div class="mt-4 w-75 mx-auto">
        <form action="" method="post">
                {% csrf_token %}
                <div class="danger">{{form.on_field_errors}}</div>
                <div class="mt-3 mb-1">
                    <label for="id_username" class="mb-2">Email</label>
                    {{form.username|addplaceholder:"Enter your email"|addclass:"form-control"}}
                </div>
                <div class="mb-2 text-danger">
                    {{form.username.errors}}
                </div>
                <div class="mt-3 mb-1">
                    <label for="id_password1" class="mb-2">Password</label>
                    {{form.password1|addplaceholder:"Enter your password"|addclass:"form-control"}}
                </div>
                <div class="mb-2 text-danger">
                    {{form.passwrod1.errors}}
                </div>
                <div class="mt-3 mb-1">
                    <label for="id_password2" class="mb-2">Confirm Password</label>
                    {{form.password2|addplaceholder:"Enter your password"|addclass:"form-control"}}
                </div>
                <div class="mb-2 text-danger">
                    {{form.passwrod2.errors}}
                </div>

            <div class="d-grid mt-4">
                <button class="btn btn-primary d-block" type='submit'>Sign Up</button>
            </div>
        </form>
        <div class="mt-3">
            <a href="{% url 'signin' %}">Have a account let's Sign In</a>
        </div>
    </div>
</div>
    
{% endblock body %}